{% extends "layout.html" %}
{% block title %}Empleados{% endblock %}
{% block contenido %}
<div class="thumbnail">
    <h3>Crud PecheJob</h3>
    <div class="caption">
        <div class="row" style="justify-content: center;">
            <form action="{{url_for('new')}}" method="POST" enctype="multipart/form-data">
                {% for field in form %}
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{field.label}}
                        {{field(class="form-control")}}
                    </div>
                </div>
                {%endfor%}
            </form>
        </div>
    </div>
</div>
{% endblock %}